<template name="about">
<section id="about">
  <span class="section-title thin-font">Hello,</span>
  <p class="section-body thin-font">
    My name is Anuj, and I live in New York City. I'm a co-founder and CTO of <a href="http://getvesper.com" target="_blank">Vesper</a>, an <a href="http://techcrunch.com/2015/11/11/angelpad-shows-off-13-new-startups-at-sf-demo-day/" target="_blank">AngelPad #9</a> startup focused on helping businesses better manage their offices using technology. Previously, I was a Project Manager at Tinypass (now called <a href="http://piano.io/" target="_blank">Piano</a>), a TriBeCa-based SaaS platform that helps publishers monetize their digital content.
    <br/><br/>
    I graduated from Columbia University in 2011 with a degree in Economics-Political Science. After graduation, and before I entered the tech world, I worked in finance, first as an investment banking analyst at UBS, and then as a high-yield credit investment analyst at a NY-based hedge fund.
    <br/><br/>
    <strong id="passion">My passion is to build smart products that solve everyday problems.</strong> I'm on <a href="http://angel.co/aj2w/" target="_blank">AngelList</a>, <a href="http://github.com/aj2w" target="_blank">GitHub</a>, <a href="http://linkedin.com/in/jhunjhunwala7/" target="_blank">LinkedIn</a>,  <a href="https://www.facebook.com/anuj.jhunjhunwala.5" target="_blank">Facebook</a>, <a href="http://twitter.com/aj2w/" target="_blank">Twitter</a>, and you can email me <a href="mailto:anuj.jhunjhunwala@gmail.com" target="_blank">here</a>.
  </p>
</section>
</template>
