<template name="projects">
<section id="projects" class="thin-font">
  <span class="section-title thin-font">Work</span>
  <div class="section-body">
    <div class="row">
      <div class="col-md-4 portfolio-item">
        <a href="http://getvesper.com" target="_blank">
          <img class="img-responsive" src="images/vesper.png" alt="Vesper">
        </a>
        <h3>
        <a href="http://getvesper.com" class="project-title">Vesper</a>
        </h3>
        <p>Vesper uses technology and people to eliminate the headaches of office management</p>
      </div>
      <div class="col-md-4 portfolio-item">
        <a href="http://pareup.com" target="_blank">
          <img class="img-responsive" src="images/pareup.png" alt="PareUp">
        </a>
        <h3>
        <a href="http://pareup.com" class="project-title">PareUp</a>
        </h3>
        <p>Good food is a terrible thing to waste</p>
      </div>
      <div class="col-md-4 portfolio-item">
        <a href="http://trackmta.herokuapp.com" target="_blank">
          <img class="img-responsive" src="images/track.jpg" alt="Track">
        </a>
        <h3>
        <a href="http://trackmta.herokuapp.com" target="_blank" class="project-title">Track</a>
        </h3>
        <p>Users can set up personalized, train-specific service status alerts for the NYC subway system</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 portfolio-item">
        <a href="http://rubyonrage.herokuapp.com" target="_blank">
          <img class="img-responsive" src="images/rubyonrage_updated.jpg" alt="Ruby on Rage">
        </a>
        <h3>
        <a href="http://rubyonrage.herokuapp.com" target="_blank" class="project-title">Ruby on Rage</a>
        </h3>
        <p>A multiplayer Tetris-like game in which users can play in real-time with other online players.</p>
      </div>
      <div class="col-md-4 portfolio-item">
        <a href="http://streetsidebites.herokuapp.com" target="_blank">
          <img class="img-responsive" src="images/streetside_updated.jpg" alt="Streetside Bites">
        </a>
        <h3>
        <a href="http://streetsidebites.herokuapp.com" target="_blank" class="project-title">Streetside Bites</a>
        </h3>
        <p>A street vendor reviewing website that allows users to upload and find vendors in their area.</p>
      </div>
    </div>
  </div>
</section>
</template>
